{% extends "base.html" %}
{% block title %}Đăng tin tuyển dụng{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Đăng tin tuyển dụng</h2>
   <form method="POST" action="{{ url_for('job.post_job') }}">
        {{ form.hidden_tag() }}

        {% for field in form if field.name != 'csrf_token' and field.name != 'submit' %}
            <div class="mb-3">
                {{ field.label(class="form-label") }}
                {{ field(class="form-control") }}
                {% if field.errors %}
                    <div class="text-danger small">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        {{ form.submit(class="btn btn-primary btn-lg") }}
    </form>
</div>
{% endblock %}
