{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
  <h3>👤 Hồ sơ của tôi</h3>
  <ul class="list-group">
    <li class="list-group-item"><b>SĐT:</b> {{ profile.phone }}</li>
    <li class="list-group-item"><b>Địa chỉ:</b> {{ profile.location }}</li>
    <li class="list-group-item"><b>CV:</b> <a href="{{ profile.cv_file }}" target="_blank">Xem CV</a></li>
  </ul>
  <a href="{{ url_for('create_profile') }}" class="btn btn-primary mt-3">Cập nhật hồ sơ</a>
</div>
{% endblock %}
